<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
	<h1>soy Home</h1>
	<% if(texto){ %>
		<h2><%= texto %> </h2>
	<%} %> 
	<img src="/images/node.jpg" width="60%">
	
</body>
</html>